
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="service-area severce_we_provide pt-50 pb-0">
    <div class="container">
        <div class="row bs">
            @Html.Partial("_Partialmenu")

            <div class="col-xl-9 col-lg-9 col-md-6">
                <div class="blue-back">
                    <div class="blue-left">
                        <i class="fa fa-check" aria-hidden="true"></i> Accepted &nbsp;
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Top Mechanic LTD
                        <h4>Toyota Rav4</h4>
                        <img src="img/nn-white.png" class="iit"><span> 1,500</span>
                    </div>
                    <div class="blue-right">
                        <i class="fa fa-calendar" aria-hidden="true"></i> 13 Feb 2019 ,&nbsp; 11:39 Am

                    </div>
                </div>

                <div class="blue-white">
                    <div class="blue-left">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Quote &nbsp;
                        <hr class="omg">
                        <h4>BMW X6</h4>
                    </div>
                    <div class="blue-right">
                        <i class="fa fa-calendar" aria-hidden="true"></i> 12 Feb 2019 ,&nbsp; 11:39 Am

                    </div>
                </div>

                <div class="blue-back">
                    <div class="blue-left">
                        <i class="fa fa-check" aria-hidden="true"></i> Accepted &nbsp;
                        <i class="fa fa-map-marker" aria-hidden="true"></i> TopGear AutoParts LTD
                        <h4>Brake Pads And Discs</h4>
                        <img src="img/nn-white.png" class="iit"><span>500</span>
                    </div>
                    <div class="blue-right">
                        <i class="fa fa-calendar" aria-hidden="true"></i> 20 Jul 2018 ,&nbsp; 11:45 Am

                    </div>
                </div>

                <div class="blue-white">
                    <div class="blue-lefts">
                        <i class="fa fa-window-close" aria-hidden="true"></i><span> Cancelled</span>
                        <hr class="omg">
                        <h4>Ship: Lagos To CapeTown</h4>
                    </div>
                    <div class="blue-right">
                        <i class="fa fa-calendar" aria-hidden="true"></i> 12 Feb 2019 ,&nbsp; 11:39 Am

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
