
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="track">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <form class="form-horizontal" action="" method="post">
                    <div class="form-group">
                        <label class="col-md-4 control-label idea">Enter Your Request ID :</label>
                        <div class="col-md-8">
                            <input id="name" name="name" type="text" placeholder="COST123456789" class="form-control mb">
                        </div>
                    </div>
                </form>
            </div>

            <div class="clearfix">&nbsp;</div>

            <div class="offset-md-4 col-md-4">
                <a href="">
                    <button type="submit" class="btn btn-primary bon">
                        Submit
                    </button>
                </a>
            </div>

        </div>
    </div>
</div>


