@model YourWorldWithin.Models.Property
@{
    ViewBag.Title = "Forgotten your password";
    ViewBag.PageHeading = "Forgotten your password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["MSG"] != null)
{
    <div class="alert alert-warning fade in blue-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <strong>@TempData["MSG"]</strong>
    </div>
}


<div class="col-lg-12" id="customer_login">

    <div class="col-lg-6">
        <div class="blogpage-item">
            <h1 class="list-head-bg label-img">Reset Password</h1>

            @using (Html.BeginForm("Forget_Password", "Account", FormMethod.Post, new { @class = "horizontal-form" }))
            {
                <div id="MSG" style="color:red;"></div>
                <div class="form-group">
                    <label class="control-label">Email address <span class="required">*</span></label>
                    <div class="input-icon right">
                        @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", @type = "email", @autocomplete = "off", @placeholder = "Email Address", @required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" name="register" value="Submit">
                </div>
            }
        </div>
    </div>
    <div class="col-lg-6">
        <div class="blogpage-item">
            <h1 class="list-head-bg label-img">Login</h1>
            @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "horizontal-form" }))
            {

                <div class="form-group">
                    <label class="control-label">Email address <span class="required">*</span></label>
                    <div class="input-icon right">
                        @Html.TextBoxFor(model => model.EmailID, new { @placeholder = "Email ID", @autocomplete = "off", @required = "required", @class = "form-control", @type = "email" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Password <span class="required">*</span></label>
                    <div class="input-icon right">
                        @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @required = "required", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">

                    <input type="submit" class="btn btn-primary" name="login" value="Login">
                </div>
                <p class="lost_password">
                    <a href="/Account/Forget_Password">Lost your password?</a>
                </p>
            }
        </div>
    </div>
</div>

