<div class="col-xl-3 col-lg-3 col-md-6">
    <div class="service-list mb-60 text-center">
        <a href="@Url.Action("Insurance","Services")">
            <div class="service-icon">
                <i class="fa fa-car" aria-hidden="true"></i>
            </div>
            <div class="service-text">
                <h3>Insurance</h3>
            </div>
        </a>
    </div>


    <div class="service-list mb-60 text-center">
        <a href="item-delivery.html">
            <div class="service-icon">
                <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <div class="service-text">
                <h3>Item Delivery</h3>
            </div>
        </a>
    </div>

    <div class="service-list mb-60 text-center">
        <a href="trade-professional.html">
            <div class="service-icon">
                <i class="fa fa-wrench" aria-hidden="true"></i>
            </div>
            <div class="service-text">
                <h3>Trade Professionals</h3>
            </div>
        </a>
    </div>

    <div class="service-list mb-60 text-center">
        <a href="javascript:void(0);">
            <div class="service-icon">
                <i class="fa fa-eur" aria-hidden="true"></i>
            </div>
            <div class="service-text">
                <h3>Commodities and Currency</h3>
            </div>
        </a>
    </div>
</div>
