
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Pricing</h2>
                <div class="page_link">
                    <a href="@Url.Action("index","home")">Home</a>
                    <a href="pricing.html">Pricing</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Welcome Area =================-->
<section class="welcome_area">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-10 offset-lg-1">
                <div class="welcome_text text-center">
                    <p>
                        It is simple really. Just click and donate. Anyone, anywhere and anytime.<br />
                        Your donors are never charged a fee!<br />
                        No hidden fees with Surseed, period! <br />
                        Our charges are <br /><br />
                        <strong>$0.27 + 2.7% per transaction.</strong>
                    </p>
                    <a href=""><img src="img/android_icon.png"></a>
                    <a href=""><img src="img/ios_icon.png"></a>
                </div>


            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->

