
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <div class="about-us">
                <h2>About us</h2>
                <h3>we help people get the best prices on the market</h3>
                <p>
                    We search the local markets of developing communities,to provide our users with the best prices
                    avialable on the market and also help facilitate work for service providers Currently,we only cover the southwest region of Nigeria with plans to expand nationwide in the near future <a href="#">Costoracle.com</a> is aproduct of DataNexus LTD.
                </p>
            </div>
        </div>
    </div>
</div>
